#recentlyViewedProducts, #solutionsMenu {
  border: 2px; 
  border-color: #CCCCCC; 
  border-style: solid;
  padding: 5px;

  top: -25px; 
  display: none; 
  z-index: 9999; 
  background-color: #ffffff;
}